body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: url("../img/back.png");
  background-repeat: repeat-y;
    background-position: center;
    background-color: #ecf3f3;
    font-family: 'Open Sans', sans-serif;
    transition: all ease-in-out 0.15s;
}
@font-face {
    font-family: paint;
    src: url(paint.TTF);
}
@font-face {
    font-family: icon;
    src: url(../fonts/icon.ttf);
}
strong,b
{
  font-weight: bolder;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
.arrowup
{
  position: fixed;
    border: 4px solid #000;
    padding: 1%;
    top: 85%;
    left: 90%;
    z-index: 100000;
    transition: all ease 0.15s;
    box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: none;
    cursor: pointer;
}
.arrowup i
{
  font-weight: bolder;
  font-size: 1.5em;
}
.arrowup:hover
{
  background: #000;
  color:#fff!important;
}
.star {
  width: 0;
    height: 0;
    margin: 0 0.5em;
    border-left: 13px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 25px solid rgba(221,216,91,1);
    position: relative;
}
.starholder
{
  opacity: 0.5;
}
.activestar
{
  opacity: 1;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}
.star:after {
  width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 18px solid transparent;
    border-top: 25px solid rgba(221,216,91,1);
    position: absolute;
    content: "";
    top: 10px;
    left: -12.8px;
}
.leftbar
{
  height: 100%;
  width:17%;
  position: fixed;
  //background: #fff;
  z-index: 1000;
  background: linear-gradient(90deg, #FFF 50%, #ecf3f3 50%);
}
.icon
{
  font-family: icon;
  font-size: 5em;
  margin: 2% 12%;
}
.leftbar ul{
  display: block;
  list-style-type: none;
  margin-top: 60%;
}
.leftbar ul li
{
  padding:4% 6%;;
  margin: 10% 5%;
  font-size: 1em;
  border: 4px solid #000;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}
.leftbar ul li.selected
{
  border: 1px solid #000;
  background: #000;
  color: #fff;
  //color: #fff;
}
li.about.selected
{
  border-right: 15px solid rgba(34, 128, 255, 0.7)!important;
}
li.expertise.selected
{
  border-right: 15px solid rgba(65, 132, 62, 0.7)!important;
}
li.work.selected
{
  border-right: 15px solid rgba(255, 51, 34, 0.7)!important;
}
li.projects.selected
{
  border-right: 15px solid rgba(206, 200, 22, 0.7)!important;
}
li.hire.selected
{
  border-right: 15px solid rgba(0, 0, 0, 0.7)!important;
}
.leftbar ul li:hover
{
  background: #000;
  color: #fff;
}
.leftbar ul li:hover:after,.leftbar ul li.selected:after
{
  content:">";
  color: #fff;
  float: right;
}
.container
{
  width: auto;
  height: 100%;
  padding: 5%;
  padding-left: 8%;
  padding-right: 0;
  align-items: center;
  z-index: -1000;
}

.card
{
  background: #fff;
  position: relative;
    box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
    width: 52%;
    height: 60%;
    margin: 5% 33%;
    min-height: 481px;
    margin-bottom: 10%;
    background: url("../img/dp1.png");
    background-size: 100% 100%;
}
.card .no-left
{
  position: absolute;
  font-size: 8.7em;
  left:-17.5%;
  top:-25%;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bolder;
  z-index: 100;
}
.card .name
{
  font-family: paint;
  color: rgba(34, 128, 255, 0.7);
  line-height: 0.5em;
  font-size: 7em;
}
.card .name .first
{
  position: absolute;
  right: 40%;
  top:-5%;
}
.card .name .last
{
  position: absolute;
  right: 5%;
  top:4%;
}
.card .text
{
  position: absolute;
  top:35%;
  line-height: 2.5em;
  font-size: 1.2em;
  left: -18%;
}
.card .text::first-letter
{
  font-size: 3em;
  margin-right: 2%;
  font-weight: normal;
}
.card .arrow
{
  position: absolute;
  border:4px solid #000;
  padding:1.8%;
  top:95%;
  left:5%;
  cursor: pointer;
  transition: all ease 0.15s;
}

.card .arrow i
{
  transform: rotate(180deg);
  font-weight: bolder;
  font-size: 1.5em;
}
.card .arrow:hover
{
  background: #000;
  color:#fff!important;
}
.section
{
  width: 100%;
  height: 100vh;
}
.section2 .card
{
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin:0% 23%;
}

.section2 .card .no-left
{
  left: 86.5%;
    top: -29%;
}
.section2 .card .heading
{
  position: absolute;
  left:5%;
  top:-8%;
  font-family: paint;
  color: rgba(65, 132, 62, 0.7);
  line-height: 0.5em;
  font-size: 10em;
}

.section2 .card .expertise
{
  position: absolute;
  width: 100%;
  left:2%;
  top:20%;
}
.section2 .card .expertise .skillscontainer
{
  display: flex;
}
.section2 .card .expertise .skillscontainer .allskills
{
  width:82%;
  display: flex;
  flex-wrap: wrap;
}
.section2 .card .expertise .skillscontainer .allskills .skill
{
  border: 2px solid #000;
margin: 2%;
padding: 1em;

}
.section2 .card .expertise .skillscontainer .allskills .skill img
{
  width: 4em;
  height: 4em;
  filter: grayscale(100%);
  transition: all ease 0.8s;
}
.section2 .card .expertise .skillscontainer .allskills .skill.active img
{
  filter:grayscale(0%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.section2 .card .starcontainer
{
  position: absolute;
  top:113%;
  left:25%;
  display: flex;
}
.section2 .card .expertise .activeskillcontainer .activeskill
{
  position: absolute;
  right:-5%;
  top:9%;
  border:4px solid #000;
  background: #fff;
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  width:9em;
  height: 12em;
}
.section2 .card .expertise .activeskillcontainer .activeskill img
{
  width: 7em;
  transition: all ease 0.5s;
  height: 7em;
  margin:25% 13%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}
.section2 .card .expertise .activeskillcontainer .skillname
{
  border:4px solid #000;
  position: absolute;
  padding:1% 2%;
  width: 25%;
  top:90%;
  font-weight: bolder;
  transition: all ease 0.5s;
  font-size: 1em;
  left:88%;
}

.section3 .card
{
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin:0% 33%;
}
.section3 .card .no-left
{
  top:20%;
  left:-30%;
}
.section3 .card .heading
{
  position: absolute;
  left:-9%;
  top:58%;
  font-family: paint;
  color: rgba(255, 51, 34, 0.7);
  line-height: 0.5em;
  font-size: 10em;
}
.section3 .card .avatar img
{
  position: absolute;
  top:8%;
  left:-4%;
  width:15em;
  height: 10em;
}
.section3 .card .companies-container
{

}
.section3 .card .companies-container .company
{
  position: absolute;
  width: 60%;
  height: 5em;
  right: -15%;
  top:4%;
  margin:2%;
  display: flex;
  align-items: center;
  background: rgba(41,194,216,0.9);
  transition: all ease-in-out 0.15s;
  cursor: pointer;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);
}
.section3 .card .companies-container .company:hover
{
  right:-18%;
  background: rgba(0,0,0,0.3);
}
.section3 .card .companies-container .company.company2
{
  top:25%;
  right: -7%;
  background: rgba(12,134,150,0.7);
}
.section3 .card .companies-container .company.company2:hover
{
  right: -4%;
  background: rgba(0,0,0,0.3);
}
.section3 .card .companies-container .company.company3
{
  top:45%;
  right: -22%;
}
.section3 .card .companies-container .company.company3:hover
{
  right:-25%;
  background: rgba(0,0,0,0.3);
}
.section3 .card .companies-container .company.company4
{
  top:65%;
  right: -12%;
  background: rgba(12,134,150,0.7);
}
.section3 .card .companies-container .company.company4:hover
{
  right: -9%;
  background: rgba(0,0,0,0.3);
}
.section3 .card .companies-container .company img
{
  width:5em;
  height: 5em;
  margin-right: 4%;
}
.section3 .card .companies-container .company h3
{
  margin: 0;
  font-size: 1.2em;
}
.section3 .card .companies-container .company span
{
  font-size: 0.8em;
}
.section3 .card .companies-container .company2 img
{
  height: 3.7em;
  float: right;
  width:11em;
}
.section3 .card .companies-container .company4 img
{
  width:7.3em;
  height: 3.4em!important;
  margin-right: 4%;
}
.section3 .card .buttoncontainer
{
  border: 4px solid #000;
  border-right: 3em solid #000;
  display: inline-block;
  padding: 1% 3%;
  position: relative;
  margin-top:57%;
  transition: all ease 0.15s;
  cursor: pointer;
  margin-left: -10%;
}
.section3 .card .buttoncontainer:hover
{
  background: #000;
  color: #fff!important;
}
.section3 .card .buttoncontainer i
{
  float: right;
font-size: 1.8em;
position: absolute;
right: -31%;
top: 8%;
color: #fff;
}
.section4 .card .heading
{
  position: absolute;
  left:60%;
  top:70%;
  font-family: paint;
  color: rgba(206, 200, 22, 0.7);
  line-height: 0.5em;
  font-size: 10em;
}
.section4 .card
{
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin:0% 23%;
  z-index: 5;
}
.section4 .card .no-left
{
  left: 98%;
  top: 11%;
}
.section4 .card .project1
{
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);
    background: #d7d7d7;
    border-bottom: 2px solid #000;
    width: 72%;
    height: 15%;
    top: 5%;
    left:20%;
    position: absolute;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.section4 .card .project1 .buttoncontainer:hover
{
  color: #fff;
  background: #000;
}
.section4 .card .project1 img
{
  width: 13em;
height: 10em;
position: absolute;
top: -140%;
filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.14));Ç
}
.section4 .card .project1 span
{
  margin-left: 42%;
  font-size: 1.3em;
  margin-top: 1.8%;
  font-weight: bolder;
}
.section4 .card .project1 .buttoncontainer
{
  border: 4px solid #000;
  border-right: 3em solid #000;
  padding: 1% 3%;
  position: relative;
  transition: all ease 0.15s;
  cursor: pointer;
  margin-top:1.4%;
  margin-left: 50%;
  background: #d7d7d7;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);

}
.section4 .card .project1 .buttoncontainer p
{
  margin: 0;
  font-weight: bolder;
  //filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5 ));
}
.section4 .card .project1 .buttoncontainer i
{
  float: right;
font-size: 1.3em;
position: absolute;
transform: rotate(-30deg);
right: -20%;
top: 18%;
font-weight: lighter;
color: #fff;
}
.section4 .card .project2
{
  position: absolute;
  top:200%;
  left: -40%;
  width: 13em;
  height: 10em;
  background: #285943;
  transition: all ease 0.3s;
  cursor: pointer;
  //border: 4px solid #000;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);
}
.section4 .card .project2:hover
{
  background: #337054;
  width:13.5em;
  height: 10.5em;
  top:195%;

}
.section4 .card .project2:hover img
{
  left:-30%;
}
.section4 .card .project2:hover i
{
  color: #000;
}
.section4 .card .project2:hover span
{
  right: -25%;
}
.section4 .card .project2 img
{
  z-index: -1;
  width:10em;
  height: 9em;
  transition: all ease 0.3s;
  top:6%;
  left:-20%;
  z-index: 200;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);

}
.section4 .card .project2 span
{
  z-index: 200;
  font-weight: bold;
  transition: all ease 0.3s;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);
  padding: 1% 5%;
  background: #8CD790;
  border: 2px solid #000;
  position: absolute;
  right: -20%;
  top:10%;
}
.section4 .card .project2 i
{
  position: absolute;
    left: 75%;
    top: 70%;
    font-size: 2em;
    color: #8CD790;
    transition: all ease 0.3s;
}


.section4 .card .project3
{
  position: relative;
  top:340%;
  left: 10%;
  width: 10em;
  height: 10em;
  background: #e2937f;
  //border: 4px solid #000;
  cursor: pointer;
  transition: all ease 0.3s;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);

}
.section4 .card .project3:hover{
  background: #edaa9a;
}
.section4 .card .project3:hover img
{
  top:-20%
}
.section4 .card .project3:hover span
{
  top:89%
}
.section4 .card .project3 img
{
  transition: all ease 0.3s;
  z-index: -1;
  width:10em;
  height: 10em;
  top:-15%;
  left:0.8%;
  z-index: 200;
  //box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);

}
.section4 .card .project3 span
{
  z-index: 200;
  transition: all ease 0.3s;
  font-weight: bold;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);
  padding: 1% 5%;
  background: #e2937f;
  border: 2px solid #000;
  position: absolute;
  right: 25%;
  top:84%;
}




.section4 .card .project4
{
  position: relative;
  top:50%;
  left: 34%;
  width: 5em;
  height: 5em;
  background: #acceef;
  //border: 4px solid #000;
  cursor: pointer;
  transition: all ease 0.3s;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);

}
.section4 .card .project4:hover
{
  background:#ccdbea;
}
.section4 .card .project4:hover img
{
    left: -40%
}
.section4 .card .project4:hover span
{
    right: -170%;
}
.section4 .card .project4 img
{
  z-index: -1;
  width:5em;
  transition: all ease 0.3s;
  height: 5em;
  top:2%;
  left:-30%;
  filter: hue-rotate(200deg) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.14));
  z-index: 200;
  //box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);;
}
.section4 .card .project4 span
{
  z-index: 200;
  transition: all ease 0.3s;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 0px 57px 34px -40px rgba(0, 0, 0, 0.15), 0px 3px 40px 2px rgba(0, 0, 0, 0.2);
  padding: 1% 5%;
  background: #acceef;
  border: 2px solid #000;
  position: absolute;
  right: -165%;
  top:30%;
}

.section4 .card .githubicon i
{
  position: absolute;
  left:23%;
  top:175%;
  color: #f7f7f7;
  transition: all ease 0.15s;
  cursor: pointer;
  font-size: 8em;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.54));
}
.section4 .card .githubicon i:hover
{
  color: #e7e7e7;
}
.section5 .card .heading
{
  position: absolute;
  left:15%;
  top:-10%;
  font-family: paint;
  color: rgba(0, 0, 0, 0.7);
  line-height: 0.5em;
  font-size: 8em;
}
.section5 .card
{
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 30%;
  margin:0% 33%;
  min-height: 0px!important;
  z-index: 5;
}
.section5 .card .no-left
{
  left: -35%;
  top: -5%;
}
.section5 .card .social
{
  position: absolute;
  top: 48%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.section5 .card .social span
{
  font-size: 0.97em;
}
.section5 .card .social i
{
  font-size: 2em;
  transition: all ease 0.15s;
}
.section5 .card .social i:hover
{
  color: #9a9a9a;
}
.section5 .footer
{

  margin: 2% auto;
  margin-top: 10%;
  color: #919696;
  margin-left: 15%;
  text-align: center;
}
